<!doctype html>

<head>

        <meta name="Copyright" content="Hm hm" />
        <meta name="keywords" content="Python, Django, framework, open-source" />
        <meta name="description" content="" />
        <title>The title</title>

</head>

<style>
    body {background-color: powderblue;}
    h1   {color: blue;}
    h2   {color: green;}
    h3   {color: pink;}
    h4   {color: yellow;}
    h5   {color: gray;}
    h6   {color: magenta;}
    p    {color: red;}
</style>

<body>
    <h1>WEB PAGE means THAT WORKS!!!!</h1>
    <h2>WEB2 PAGE means THAT WORKS!!!!</h2>
    <h3>WEB3 PAGE means THAT WORKS!!!!</h3>
    <h4>WEB4 PAGE means THAT WORKS!!!!</h4>
    <h5>WEB5 PAGE means THAT WORKS!!!!</h5>
    <h6>WEB6 PAGE means THAT WORKS!!!!</h6>
</body>

</html>